{% extends 'base.html' %}

{% load weather_filters %}
{% load weather_tags %}
{% load widgets %}

{% block content %}
<h1>POGODA</h1>

{% weather_widget 2 %}

<p>Hello, {{ name|reverse }}</p>
<p>Temperature is {{ temperature }}</p>

{% create_date today %}

{% add_number 1.1 2.2 %}

<p>
{% lorem 4 p %}
</p>
 <div id="map"></div>

 {% if is_user and name == "Adam" %}
    <p>Jestes userem Adam</p>
 {% else %}
 <p>Nie jestes userem</p>
 {% endif %}

 {% with calculated=calc %}
    {% for key, value in calculated.items %}
    <div class="{% cycle "bolded" "" %}">{{ key }}, {{ value }}</div>
    {% empty %}
    Nie ma liczb
    {% endfor %}
 {% endwith %}

{% endblock %}

{% block stopka %}
to jest stopka

{% include 'weather/main2.html' %}
{% endblock %}

{% block scripts %}
    <script>
        var map = L.map('map', {
                center: [51.505, -0.09],
                zoom: 13
        });
    </script>
{% endblock %}
