{% extends 'base.html' %}

{% block title %}
    <title>Moje konwertery</title>
{% endblock %}

{% block header %}
<div class="card text-white bg-dark">
    <div class="card-body">
      MOJE KONWERTERY
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div>
        Wpisano: {{ temp }}
    </div>
        <div class="col-md-3">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, error in form.errors.items %}
                {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            <form action="/converters/convert/" method="POST" class="mt-3">
                {% csrf_token %}

                <label for="id_temperature" class="form-label">Podaj wartość temperatury w Celsjuszach</label>
                <input type="number" name="temperature" class="form-control mb-3" id="id_temperature" max=100 min=1>

                <button type="submit" class="btn btn-dark">Przelicz</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}